# Demo Notebook

A notebook describing the basics for connecting via python to oracle.

**First, ensure that you installed cx_Oracle with:**

`python -m pip install cx_Oracle --upgrade`

## Get the libraries

In [8]:
!pip install oracledb

Collecting oracledb
  Downloading oracledb-2.5.1-cp312-cp312-win_amd64.whl.metadata (5.6 kB)
Requirement already satisfied: cryptography>=3.2.1 in c:\users\roman\anaconda3\lib\site-packages (from oracledb) (43.0.0)
Requirement already satisfied: cffi>=1.12 in c:\users\roman\anaconda3\lib\site-packages (from cryptography>=3.2.1->oracledb) (1.17.1)
Requirement already satisfied: pycparser in c:\users\roman\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.2.1->oracledb) (2.21)
Downloading oracledb-2.5.1-cp312-cp312-win_amd64.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------------- 1.8/1.8 MB 24.1 MB/s eta 0:00:00
Installing collected packages: oracledb
Successfully installed oracledb-2.5.1

In [10]:
import oracledb

## Get Basic Client

see here: https://www.oracle.com/database/technologies/instant-client/winx64-64-downloads.html

In [14]:
 oracledb.init_oracle_client(lib_dir=r"instantclient_19_11") #add here the path to the instantclient

## Set the credentials

In [16]:
username="romanz05"  #db user name
password="LNneACJ7bFA578j" #db password 
con_string="oracle19.cs.univie.ac.at:1521/orclcdb"

## Connect

In [20]:
#consider to use with in order to avoid open connections
connection = oracledb.connect(user=username, password=password,
                               dsn=con_string)

DatabaseError: ORA-12170: TNS:Connect timeout occurred

Check if connection is now up!

In [5]:
#create a table
curs=connection.cursor()
create_stat="create table myTestTable(myId INTEGER)" #just an example: always use a PK
curs.execute(create_stat)
connection.commit()

In [24]:
#insert into
myIdValue=4
create_stat="insert into myTestTable (myId) VALUES (:myIdValue)"
curs.execute(create_stat,myIdValue=myIdValue)
connection.commit()

In [26]:
#select
curs.execute("select * from myTestTable")
res = curs.fetchall()

In [28]:
str(res)  #result

'[(4,), (4,), (4,)]'

In [30]:
[x[0] for x in res]

[4, 4, 4]

# Read from CSV

In [32]:
import pandas as pd

In [36]:
example_data=pd.read_csv("ExampleData.csv",sep=";")

In [37]:
example_data.head()

   Id   Name
0   9    Ann
1  10    Bob
2  11  Carol

In [38]:
#create a table
create_stat="create table myTestTable2(myId INTEGER,myName VARCHAR(30))" #just an example: always use a PK
curs.execute(create_stat)
connection.commit()

In [51]:
def add_tuple(m_tuple):
    create_stat="insert into myTestTable2 (myId,myName) VALUES (:myId,:myName)"
    curs.execute(create_stat,myId=m_tuple.Id,myName=m_tuple.Name)
    connection.commit()

In [53]:
example_data.apply(lambda x: add_tuple(x),axis=1)  #use for instead of apply if that is easier for your!
print("done with inserting....")

done

In [56]:
curs.execute("select * from myTestTable2")
res = curs.fetchall()
res

[(9, 'Ann'),
 (10, 'Bob'),
 (11, 'Carol'),
 (9, 'Ann'),
 (10, 'Bob'),
 (11, 'Carol')]

# Close Connection

In [6]:
curs.close()
connection.close()